@import "../../../colors.scss";

.navBar {
  background-color: $nav-color;
  border-bottom: 3px solid $nav-dark;
}
.navBrand {
  padding-left: 10px;
}

.navLink {
  // color: $text-accent !important;
}
