@import "colors.scss";


.App{
  width: 100vw;
  height: 100vh;
  background-color:  $nav-color;  
}

.section{
  // background-color: black;
  // margin-left: 10%;
  // margin-right: 10%;
}

#experience{
  background-color: black;
  width: 100%;
  height: 100%;
}



.experienceGrid{
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media only screen and (max-width: 1480px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 740px) {
    grid-template-columns: repeat(1, 1fr);
  }
}